name: CI

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "*"

concurrency:
  # Cancel any previous workflows if they are from a PR or push.
  group: ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  GO_VERSION: 1.24.10
  LINT_VERSION: v2.6.2
  BITCOIND_VERSION: "30"

jobs:
  ########################
  # lint code
  ########################
  lint:
    name: lint code
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: setup go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5
        with:
          go-version: '${{ env.GO_VERSION }}'

      - name: check code format
        run: make fmt-check

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: '${{ env.LINT_VERSION }}'

  ########################
  # run unit tests
  ########################
  unit-test:
    name: run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v5

      - name: setup go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5
        with:
          go-version: '${{ env.GO_VERSION }}'
    
      - name: install bitcoin core
        run: ./scripts/install_bitcoind.sh ${{ env.BITCOIND_VERSION }}

      - name: run unit tests
        run: make unit
